<div>
<div align="center" >
  <h1>Surabhi's Restaurant</h1>
</div>
  <div align="right">  
     <a  routerLink="userLogin"> User Login </a>|  
     <a  routerLink="adminLogin"> Admin Login</a>|
    </div>
  <hr>
  <router-outlet></router-outlet>
</div>