<div align="center">
    <h2>Welcome!User , {{name}}</h2>
    <br>
    <div align= "right">
        <input  type="button" value="logout"   class="btn btn-primary" (click)="logout()">
    </div>
    <hr>

    <div align="center"class="container">
        <input type="button" class="btn btn-primary" value=" Click to Display Books" (click)="loadProducts()">
        <hr>
        <table class="table">
            <tr class="thread-dark">
                <th>BookId</th>
                <th>BookTitle</th>
                <th>BookAuthor</th>
                <th>BookPrice</th>
                <th>LikeBook</th>
            </tr >
            <tr *ngFor="let book of books" >
                   <td>{{book.id}}</td>
                   <td>{{book.title}}</td>
                   <td>{{book.author}}</td>
                   <td>{{book.price | currency:'&#8377;'}}</td>
                   <td><input type="button" class="btn btn-primary" value="LikeBook" ></td>
            </tr>
        </table>
    </div>

    <div align= "center">
        <input  type="button" value="View LikeBooks"   class="btn btn-primary" >
    </div>


</div>
