<div>
<div align="center" >
  <h1>Life At Bookess</h1>
</div>
  <div align="right">
    <a  routerLink="viewBooks">View Books </a>|  
     <a  routerLink="userLogin"> User Login </a>|  
     <a  routerLink="adminLogin"> Admin Login</a>|
    </div>
  <hr>
  <router-outlet></router-outlet>
</div>