<div align="center" class="container">
    <div align="center">
        <h4>Hey Admin! Want to Register Or Login</h4>
    </div>

    <div class="row">
        <div class="col-sm" style="background-color: powderblue;">
    <br>
    <hr>
    <h3>Login</h3>
    <hr>
    <br>
    
        <form [formGroup]="loginRef" (ngSubmit)="checkAdmin()" class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control"/><br>
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"/><br>
            <input type="submit" class="btn btn-primary mr-5" value="Log In" [disabled]="loginRef.invalid">
            <input type="reset" class="btn btn-secondary" value="Reset">
        </form>
        <br>
        <span style="color:red">{{loginRes}}</span>

        </div>
        <div class="col-sm" style="background-color: pink">
        
        <br>
        
    <hr>
    <h3>Register</h3>
    <hr>
    <br>    
           
            <form [formGroup]="RegisterRef" (ngSubmit)="RegisterAdmin()" class="form-group">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control"/><br>
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" /><br>
                <input type="submit" class="btn btn-primary" value="Register" [disabled]="RegisterRef.invalid">
                
            </form> 
        
            <br>
            <span style="color:red">{{registerRes}} </span>
        </div>
        </div>   
</div>
    
