<div align="center">
    <h2>Welcome!User , {{name}}</h2>
    <br>
    <div align= "right">
        <input  type="button" value="logout"   class="btn btn-primary" (click)="logout()">
    </div>
    <hr>

    <app-view-books></app-view-books>

    


</div>
