*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.navbar{
     display: flex;
    align-items: center;
    padding:20px;
   

}
nav{
    flex: 1;
    text-align: right;
   
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #ff523b;
   
    
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0px 25px 0px 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0px;
    
}
.btn{
    display: inline-block;
    background : #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

.header{
    background: radial-gradient(#fff,#ffd6d6) ;
}
.header .row{
    margin-top: 70px;
}
 /* ---------account page-------------- */
 .account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1) ;
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
    
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;

}
form .btn{
   width: 100%;
   border: none;
   cursor: pointer;
   margin: 10px 0;
}
form .btn:focus{
   outline: none;
}
#LoginForm{
   left: -300px;
}
#RegForm{
   left: 0;
}
form a{
   font-size: 12px;

}
#Indicator{
   width: 100px;
   border: none;
   background: #ff523b;
   height: 3px;
   margin-top: 8px;
   transform: translateX(100px);
   transition: transform 1s;
}

/*-------media query for menu----*/
@media only screen and (max-width:800px){

    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;

    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    
}
