@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-image: url(https://static8.depositphotos.com/1457895/952/v/950/depositphotos_9529877-stock-illustration-books-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #ff523b;
}

container {
	max-width: 1300px;
	margin: auto;
	padding: 0px 25px 0px 25px;
}
.header{
    background: radial-gradient(#fff,#ffd6d6) ;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding: 25px;
}
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    transition: transform 0.5s;

}
.col-4 img{
    width: 100%;
    
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);

}