<div align="center"class="container">
    <input type="button" class="btn btn-primary" value=" Click to Display Books" (click)="loadProducts()">
    <hr>
    <table class="table">
        <tr class="thread-dark">
            <th>BookId</th>
            <th>BookTitle</th>
            <th>BookAuthor</th>
            <th>BookPrice</th>
        </tr >
        <tr *ngFor="let book of books" >
               <td>{{book.id}}</td>
               <td>{{book.title}}</td>
               <td>{{book.author}}</td>
               <td>{{book.price | currency:'&#8377;'}}</td>
        </tr>
    </table>
</div>
