@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=1&w=400);
    background-size: cover;
}
.container{

    width: 100%;
}
button{
	 text-align: center;
    margin:20 auto 80px;
    position: relative;
    padding: 30px 30px;
     color: #ff523b;
}
a {
	text-decoration: none;
	color: #ff523b;
}
.btn{
    display: inline-block;
    background : #ff523b;
    color: #fff;
    padding: 15px 40px;
    margin: 60px 150px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.col{
    height:300px;
    display: inline-block;
    width: 40%;
    
}
.title{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 100px;
    color:#ff523b;
}
.title::after{
    content: '';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

/* --------media query-------------- */
@media (max-width:500px){
    .col{
        width: 100%;
    }
}