<div >
<div align = center>
    <h2>Welcome to Home Page Admin !! {{name}}</h2>
</div>
<div align= "right">
    <input  type="button" value="logout"   class="btn btn-primary" (click)="logout()">
</div>
<hr>
<div class="container">
<div align = center>
    <h4 style="color: salmon;">CRUD on Books</h4>
</div>
<hr >
<div class="row">
    <div class="col-sm" style="background-color: powderblue;">
<br>
<hr>
<h3>Add Books</h3>
<hr>
<br>

    <form [formGroup]="AddRef" (ngSubmit)="storeBook()" class="form-group">
        <label>Book Id</label>
        <input type="text" formControlName="id" class="form-control"/><br>
        <label>Book Title</label>
        <input type="text" formControlName="title" class="form-control"/><br>
        <label>Book Author</label>
        <input type="text" formControlName="author" class="form-control"/><br>
        <label>Book Price</label>
        <input type="text" formControlName="price" class="form-control"/><br>
        <input type="submit" class="btn btn-primary mr-5" value="Store Books" [disabled]="AddRef.invalid">
        
    </form>
    <br>
    <span style="color:red">{{addRes}}</span>

    </div>
    <div class="col-sm" style="background-color: pink">
    
    
<div *ngIf="flag">

    <br>
<hr>
<h3>Update Books</h3>
<hr>
<br>

    <form [formGroup]="UpdateRef" (ngSubmit)="updateBookInfo()" class="form-group">
        <label>Book Id</label>
        <input type="text" formControlName="id" class="form-control"/><br>
        <label>Book Title</label>
        <input type="text" formControlName="title" class="form-control"/><br>
        <label>Book Author</label>
        <input type="text" formControlName="author" class="form-control"/><br>
        <label>Book Price</label>
        <input type="text" formControlName="price" class="form-control"/><br>
        <input type="submit" class="btn btn-primary mr-5" value="Update Books" [disabled]="UpdateRef.invalid">
        
    </form>
    <br>
    <span style="color:red">{{updateRes}}</span>

    
</div>






</div>


</div>
<hr>
<div align="center"class="container">
    <input type="button" class="btn btn-primary" value=" Click to Display Books" (click)="loadProducts()">
    <hr>
    <table class="table">
        <tr class="thread-dark">
            <th>BookId</th>
            <th>BookTitle</th>
            <th>BookAuthor</th>
            <th>BookPrice</th>
            <th>Delete Book</th>
            <th>Update Book</th>
        </tr >
        <tr *ngFor="let book of books" >
               <td>{{book.id}}</td>
               <td>{{book.title}}</td>
               <td>{{book.author}}</td>
               <td>{{book.price | currency:'&#8377;'}}</td>
               <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteBook(book.id)"></td>
               <td><input type="button" value="Update" class="btn btn-success" (click)="updateBook(book)"></td>
        </tr>
    </table>
    <span style="color:red">{{delRes}}</span>
</div>
<br>
<br>
<!------------------ Crud On Users---------------------------------->
<br>
<hr>
<div class="container">
    <div align = center>
        <h4 style="color: salmon;">CRUD on Users</h4>
    </div>
    <hr >
    <div class="row">
        <div class="col-sm" style="background-color: pink">
    <br>
    <hr>
    <h3>Add Users</h3>
    <hr>
    <br>
    
        <form [formGroup]="AddUserRef" (ngSubmit)="storeUser()" class="form-group">
            <label>Email</label>
            <input type="email" formControlName="email" class="form-control"/><br>
            <label>Username</label>
            <input type="text" formControlName="name" class="form-control" /><br>
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" /><br>
            <input type="submit" class="btn btn-primary mr-5" value="Store User" [disabled]="AddUserRef.invalid">
            
        </form>
        <br>
        <span style="color:red">{{addUserRes}}</span>
    
        </div>
        <div class="col-sm" style="background-color: powderblue">
        
        
    <div *ngIf="flag">
    
        <br>
    <hr>
    <h3>Update Users</h3>
    <hr>
    <br>
    
        <form [formGroup]="UpdateUserRef" (ngSubmit)="updateUserInfo()" class="form-group">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control"/><br>
                <label>Username</label>
                <input type="text" formControlName="name" class="form-control" /><br>
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" /><br>
            <input type="submit" class="btn btn-primary mr-5" value="Update User" [disabled]="UpdateUserRef.invalid">
            
        </form>
        <br>
        <span style="color:red">{{updateUserRes}}</span>
    
        
    </div>
  
    </div>
    
    
    </div>
    <hr>
    <div align="center"class="container">
        <input type="button" class="btn btn-primary" value=" Click to Display Users" (click)="loadUsers()">
        <hr>
        <table class="table">
            <tr class="thread-dark">
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Delete User</th>
                <th>Update User</th>
            </tr >
            <tr *ngFor="let user of users" >
                   <td>{{user.email}}</td>
                   <td>{{user.name}}</td>
                   <td>{{user.password}}</td>
                   <td><input type="button" value="Delete" class="btn btn-danger" (click)="deleteUser(user.email)"></td>
                   <td><input type="button" value="Update" class="btn btn-success" (click)="updateUser(user)"></td>
            </tr>
        </table>
        <span style="color:red">{{delUserRes}}</span>
    </div>
<br>
<hr>

    <div align= "center">
        <input  type="button" value="View LikeBooks"   class="btn btn-primary" >
    </div>
    