<div align="center">
    <h2>Welcome!User , {{name}}</h2>
    <br>
    <div align= "right">
        <input  type="button" value="logout"   class="btn btn-primary" (click)="logout()">&nbsp; &nbsp;
        <input  type="button" value="Buy"   class="btn btn-primary" >
    </div>
    <hr>

    <div align="center"class="container">
        <input type="button" class="btn btn-primary" value=" Click to Display Items" (click)="loadProducts()">
        <hr>
        <table class="table">
            <tr class="thread-dark">
                <th>ItemId</th>
                <th>ItemName</th>
                <th>ItemPrice</th>
            </tr >
            <tr *ngFor="let item of items" >
                   <td>{{item.id}}</td>
                   <td>{{item.name}}</td>
                   <td>{{item.price | currency:'&#8377;'}}</td>
            </tr>
        </table>
    </div>
    
    
    


</div>
